.form {
  max-width: 385px;
  font-family: "Montserrat", "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  font-family: "Montserrat", "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
}

.form__button {
  font-family: "Montserrat", "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 0;
  width: 100%;
  background-color: #155437;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  transition: background-color 0.5s;
}

.form__button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}
